<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="block addproduct">
	<div class="title"><strong><?php /* @escapeNotVerified */ echo __('Add Product by SKU') ?></strong></div>    
    <div class="content">
        <form class="form addproduct"
            novalidate
            action="<?php /* @escapeNotVerified */ echo $block->getUrl('otb/cart/addbysku')?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="addproduct-validate-detail">
            <?php echo $block->getBlockHtml('formkey')?>
            <div class="field addproduct">
                <label class="label" for="addproduct"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Our Newsletter:') ?></span></label>
                <div class="control">
                    <input name="sku" type="text" id="addproduct"
                                placeholder="<?php /* @escapeNotVerified */ echo __('Add Product by SKU') ?>"
                                data-validate="{required:true}"/>
                </div>
            </div>
            <div class="actions">
                <button class="action addproduct primary" title="<?php /* @escapeNotVerified */ echo __('Add To Cart') ?>" type="submit">
                    <span><?php /* @escapeNotVerified */ echo __('Add To Cart') ?></span>
                </button>
            </div>
        </form>
    </div>
</div>
<?php
/**
 * Shopping cart template
 *
 * @var $block \Magento\Checkout\Block\Cart
 */

if ($block->getItemsCount()) {
    echo $block->getChildHtml('with-items');
} else {
    echo $block->getChildHtml('no-items');
}
