.block.addproduct {
    width: 26%;
    margin-bottom: 20px;
}
.block.addproduct .label{
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.block.addproduct .field .control::before {
    position: absolute;
}
.block.addproduct .field {
    margin: 0;
}
.block.addproduct .action.addproduct {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}

.block.addproduct .field .control::before {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 32px;
    color: #c2c2c2;
    font-family: 'luma-icons';
    margin: 0 0 0 8px;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.block.addproduct .field .control {
    display: inline-block;
    text-decoration: none;
    display: block;
}

.block.addproduct .actions {
    display: table-cell;
    vertical-align: top;
    width: 40%;
}

.block.addproduct .form.addproduct {
    display: table;
    width: 100%;
}

.minicart-wrapper .block.addproduct {
    width: 100%;
    margin-left: 25px;
}

